.logs-section .ant-layout-sider-children {
  background: #fafafa;
}

.logs-section .skeletons {
  padding: 20px;
}

.log-detail {
  padding: 0;
}

.log-detail .log-code {
  padding: 15px;
  background: black;
  color: white;
}
