.jobs-section .ant-layout-sider-children .ant-menu {
  overflow-y: auto;
  overflow-x: hidden;
}

.jobs-section .skeletons {
  padding: 20px;
}

.jobs-section .ant-empty {
  flex-direction: column;
}

.job-detail {
  padding: 0;
}

.job-header {
  padding: 20px;
}

.job-header h2 {
  margin: 0;
}

.job-detail .job-code {
  padding: 15px;
  background: black;
  color: white;
  height: 105vh;
}
