.jobs-section .ant-layout-sider-children .ant-menu {
  overflow-y: auto;
  overflow-x: hidden;
}

.jobs-list .ant-menu-item:not(.ant-menu-item-selected) {
  background: transparent;
}

.jobs-section .skeletons {
  padding: 20px;
}

.jobs-section .ant-empty {
  flex-direction: column;
}

.job-detail {
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.job-header {
  padding: 20px;
  background-color: #eff2f5;
}

.dark .job-header {
  background-color: #100f0f;
}

.job-header h2 {
  margin: 0;
  margin-right: 10px;
}

.job-header .project-name {
  display: flex;
  align-items: center;
}

.job-header .ant-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-detail .job-code {
  padding: 25px;
  background: black;
  color: white;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.job-code code span {
  /* TODO: <span> (rendered by Ansi) inside <code> do not get monospace font  */
  font-family: inherit;
}
