.jobs-section .ant-layout-sider-children {
  background: #fafafa;
}

.jobs-section .skeletons {
  padding: 20px;
}

.job-detail {
  padding: 0;
}

.job-detail .job-code {
  padding: 15px;
  background: black;
  color: white;
}
