@import '~antd/dist/antd.css';
/* @import '~antd/dist/antd.dark.css'; */

.ant-layout-has-sider {
  height: calc(100vh - 64px);
}

.ant-layout-content {
  padding: 20px;
}

.ant-layout-sider-children {
  overflow: scroll;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
