/*@import '~antd/dist/antd.css' screen;*/
@import "~antd/dist/antd.dark.css" screen;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  font-family: 'Roboto Mono', monospace, -apple-system, BlinkMacSystemFont, segoe ui,
    Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
}

#root {
  height: 100vh;
  color: white;
}

.ant-layout {
  height: 100%;
}

.ant-layout-has-sider {
  height: calc(100vh - 64px);
}

.ant-layout-content {
  padding: 20px 50px;
}

.ant-layout-sider-children {
  overflow: auto;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-actions {
  display: flex;
  margin-bottom: 20px;
}

.section-actions .ant-btn {
  margin-left: 20px;
}

.section-actions .ant-btn:first-child {
  margin-left: auto;
}
