/*@import '~antd/dist/antd.css' screen;*/
@import "~antd/dist/antd.dark.css" screen;

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("./font/SpaceMono-Regular.ttf") format("woff"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("./font/SpaceMono-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "SpaceMono-Bold";
  src: url("./font/SpaceMono-Bold.ttf") format("woff"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("./font/SpaceMono-Bold.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
  font-family: "SpaceMono-Regular", -apple-system, BlinkMacSystemFont, segoe ui,
    Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
}

#root {
  height: 100vh;
}

.ant-layout {
  height: 100%;
}

.ant-layout-has-sider {
  height: calc(100vh - 64px);
}

.ant-layout-content {
  padding: 20px 50px;
}

.ant-layout-sider-children {
  overflow: auto;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-actions {
  display: flex;
  margin-bottom: 20px;
}

.section-actions .ant-btn {
  margin-left: 20px;
}

.section-actions .ant-btn:first-child {
  margin-left: auto;
}
