.ant-layout-header {
  display: flex;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
  z-index: 10;
}

.ant-menu-item {
  border-bottom: 0;
}

.light .ant-layout-header {
  background: white;
}

.dark .ant-menu-item {
  background: #1f1f1f;
}

.ant-layout-header .ant-menu-horizontal {
  border-bottom: 0;
}

.ant-layout-header .ant-menu-horizontal .ant-menu-item {
  top: -1px;
}

.logo h2 {
  color: #1890ff;
  margin: 0;
  position: relative;
  top: 1px;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin-right: 15px;
}

.theme-switch {
  margin-left: auto;
  font-size: 1.3em;
  cursor: pointer;
}

.ant-menu.menu-navigation {
  margin-left: auto;
}
